body {
    background-color: var(--background);
    color:white;
    font-family: 'Arial', sans-serif;
    font-size: 500px;
    letter-spacing: 2px;
}

body {
    background-color: white;
}